// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

caption {
 font-weight: bold;
}


.column {
 vertical-align: top;
}

.balance {
 text-align: right;
 vertical-align: bottom;
}

.total {
 font-weight: bold;
 border-top: 2px solid white;
}

a:link, a:visited {
 color: yellow;
 text-decoration: none;
}

a:hover {
 color: black;
 background-color: cyan;
}


