/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 *= require jquery-ui/autocomplete
 */

.popup {
 display: none;
 position: absolute;
 width: 80%;
 height: 80%;
 overflow: scroll;
 top: 10%;
 left: 10%;
 z-index: 22;
 background-color: rgba(255, 255, 255, 1);
 border: 2px solid black;
 padding: 1em;
}

nav {
 border-radius: 10px;
 padding: 0.5em;
 background-color: white;
}

.navlink {
 background-color: #B5F2B7;
 font-weight: bold;
 border: 2px solid black;
 display: inline-block;
 border-radius: 10px;
 padding-left: 0.5em;
 padding-right: 0.5em;
}

.navlink a:link, .navlink a:visited {
 color: black;
}

.navlink a:hover {
 color: white;
}

