// Place all the styles related to the Transaktions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
 z-index: 1;
}

.new_iframe {
 z-index: 2;
 display: block;
 width: 80%;
 height: 80%;
 position: absolute;
 top: 10%;
 left: 10%;
}

.money {
 text-align: right;
}

