<p id="notice"><%= notice %></p>

  <% Account.columnize.map do |column| %>
    <div class="column">
       <% column.each do |account| %>
       <% end %>
    </div>
  <% end %>

<%= link_to 'New Account', new_account_path %>
